{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 2,
    "import/order": [
      2,
      {
        "groups": ["external", "builtin", "index", "sibling", "parent", "internal"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "always"
      }
    ]
  }
}
